aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in*
config.log
config.status
config.sub
configure
depcomp
.deps/
hidapi/*/.dirstamp
install-sh
*.la
led-ctrl
led-driver.init
led-driver.spec
led-server
.libs/
libtool
*.lo
ltmain.sh
m4/
Makefile
Makefile.in
missing
*.o
stamp-h1
